<a> <button class= "btn btn-primary pull-right"  (click)="onNew()">Add New </button></a>
<br>
<div class="card-group">
  <div class="card">
    <div class="card-block">
      <pf-dashboard-list *ngFor="let user of users" 
                         [userParam]="user" 
                         [defaultPicture]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpQxtAk2KXllUJYNJem8fBU31ccawna6wKbuA-xrv9nzvb-cp7_Q'"
                         (onSelect)="onSelectUser($event)"
                         (onDelete)="onSelectUser($event)"
                         
                         >
                         
                         
                         

      </pf-dashboard-list>
    </div>
  </div>
</div>