<br>
<br>
<br>
<div class="container" *ngIf="formu">
  
  <form (ngSubmit)="onLogin(login,pass)" #loginForm="ngForm">




    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <h3>
          <B>
          <div class="col-xs-4">          
          <div class="form-group" [ngClass]="{'has-error': login.invalid && login.dirty}">
          <label for="login" class="control-label">Username(*)</label>
          </div>
          </div>
      </B>
        </h3>
        <div class="col-xs-6">

          <input type="text" 
                mdInput placeholder="USERNAME" 
                name="login" 
                class="form-control" 
                [(ngModel)]="formu.login" #login="ngModel"
                pattern=
                "[A-Za-z0-9_]{1,20}"
            required>

        </div>

      </div>



      <div class="row">
        <h3>
          <B>
      <div class="col-xs-4">
        <div class="form-group" [ngClass]="{'has-error': pass.invalid && pass.dirty}">
          <label for="pass" class="control-label">Password(*)</label>
        </div>
      </div>
    </B>
        </h3>
        <div class="col-xs-6">
          <input type="password" 
                 mdInput placeholder="PASSWORD" 
                 name="pass" class="form-control" 
                 [(ngModel)]="formu.pass" #pass="ngModel"
                 pattern="[A-Za-z0-9_]{1,20}"
            required>

        </div>
      </div>
      <br>

      <div align="center" *ngIf="login.invalid && login.dirty || pass.invalid && pass.dirty" class="text-danger">
        Username or Password is invalid
        <p>
        <a href="http://slides.com/luixaviles/angular#/26/3">Forgot Email? &nbsp;&nbsp;</a>
        <a href="https://material.angular.io/components/input/overview">More Options</a>
        </p>

        
      </div>
      
      <button class="btn btn-primary center-block">Login</button>


      <br>
    </div>
    <!-- 
    <pre>
      login.touched:{{login.touched}}
      login.dirty:{{login.dirty}}
      login.valid:{{login.valid}}

    </pre>
    <pre>
      pass.touched:{{pass.touched}}
      pass.dirty:{{login.dirty}}
      pass.valid:{{login.valid}}

    </pre> -->

   


    <!-- <pre>
      Form.touched: {{loginForm.form.touched}}
 Form.untouched: {{loginForm.form.untouched}}
 Form.dirty: {{loginForm.form.dirty}}
 Form.pristine: {{loginForm.form.pristine}}
 Form.valid: {{loginForm.form.valid}}
 Form.invalid: {{loginForm.form.invalid}}    
    
   
  </pre> -->

    <br>
    <br>
  </form>